In [33]:
import pandas as pd

#df = pd.read_csv("dementia_analysis.csv")
#df = pd.read_csv("DLBvsCN_.csv")
df = pd.read_csv("ADvsCN_.csv")

df.head()

,SampleId,SampleGroup,Age,Sex,seq.10000.28,seq.10001.7,seq.10003.15,seq.10006.25,seq.10008.43,seq.10010.10,...,seq.9984.12,seq.9986.14,seq.9987.30,seq.9989.12,seq.9991.112,seq.9993.11,seq.9994.217,seq.9995.6,seq.9997.12,seq.9999.1
0,NB13062003,1,81,0,462.4,764.5,179.9,608.8,473.4,278.5,...,551.7,6401.5,443.8,438.7,522.6,932.2,1312.8,4269.6,46375.4,7202.1
1,NB13062408,1,77,1,458.3,346.8,522.8,516.4,546.4,489.9,...,1609.8,3158.0,589.6,372.9,837.0,1042.8,1378.9,1591.5,20475.2,1995.5
2,NB13070104,1,72,0,456.7,373.8,175.3,506.6,538.0,318.0,...,584.3,9008.7,531.8,528.6,607.6,1119.8,1394.6,1971.1,20648.9,2039.7
3,NB13070203,1,72,0,510.4,470.9,132.6,597.0,431.0,284.6,...,570.3,4087.4,598.9,377.5,1157.2,1083.1,1403.9,3190.1,44258.5,2998.0
4,NB13072903,1,84,1,454.6,455.0,155.8,556.9,417.5,283.0,...,544.3,9889.3,571.7,386.3,531.7,1019.8,1354.8,2634.0,31561.7,2511.9

In [24]:
"""
df['Sex'][df['Sex'] == "F"] = 0
df['Sex'][df['Sex'] == "M"] = 1

df['SampleGroup'][df['SampleGroup'] == "AD"] = 1
df['SampleGroup'][df['SampleGroup'] == "DLB"] = 1
df['SampleGroup'][df['SampleGroup'] == "CN"] = 0

"""

'\ndf[\'Sex\'][df[\'Sex\'] == "F"] = 0\ndf[\'Sex\'][df[\'Sex\'] == "M"] = 1\n\ndf[\'SampleGroup\'][df[\'SampleGroup\'] == "AD"] = 1\ndf[\'SampleGroup\'][df[\'SampleGroup\'] == "DLB"] = 1\ndf[\'SampleGroup\'][df[\'SampleGroup\'] == "CN"] = 0\n\n'

In [25]:
df["Sex"] = df["Sex"].astype("float64")
df["SampleGroup"] = df["SampleGroup"].astype("float64")
df["Age"] = df["Age"].astype("float64")

In [26]:
df1 = df.drop("SampleId",axis=1)
df1 = df1.drop("SampleGroup", axis =1)
df1.head()

,Age,Sex,seq.10000.28,seq.10001.7,seq.10003.15,seq.10006.25,seq.10008.43,seq.10010.10,seq.10011.65,seq.10012.5,...,seq.9984.12,seq.9986.14,seq.9987.30,seq.9989.12,seq.9991.112,seq.9993.11,seq.9994.217,seq.9995.6,seq.9997.12,seq.9999.1
0,81.0,0.0,462.4,764.5,179.9,608.8,473.4,278.5,1806.9,1125.4,...,551.7,6401.5,443.8,438.7,522.6,932.2,1312.8,4269.6,46375.4,7202.1
1,77.0,1.0,458.3,346.8,522.8,516.4,546.4,489.9,2567.9,1404.7,...,1609.8,3158.0,589.6,372.9,837.0,1042.8,1378.9,1591.5,20475.2,1995.5
2,72.0,0.0,456.7,373.8,175.3,506.6,538.0,318.0,2710.0,1391.2,...,584.3,9008.7,531.8,528.6,607.6,1119.8,1394.6,1971.1,20648.9,2039.7
3,72.0,0.0,510.4,470.9,132.6,597.0,431.0,284.6,2450.8,1273.0,...,570.3,4087.4,598.9,377.5,1157.2,1083.1,1403.9,3190.1,44258.5,2998.0
4,84.0,1.0,454.6,455.0,155.8,556.9,417.5,283.0,2105.5,1311.2,...,544.3,9889.3,571.7,386.3,531.7,1019.8,1354.8,2634.0,31561.7,2511.9

In [27]:
#説明変数を標準化
from sklearn.preprocessing import StandardScaler


# 標準化する列を選択
cols_to_scale = list(df1.columns)
#cols_to_scale.append("Age")
#cols_to_scale.append("Sex")


# StandardScalerをインスタンス化する
scaler = StandardScaler()

# 選択した列の値を標準化する
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])

df1.head()

,Age,Sex,seq.10000.28,seq.10001.7,seq.10003.15,seq.10006.25,seq.10008.43,seq.10010.10,seq.10011.65,seq.10012.5,...,seq.9984.12,seq.9986.14,seq.9987.30,seq.9989.12,seq.9991.112,seq.9993.11,seq.9994.217,seq.9995.6,seq.9997.12,seq.9999.1
0,1.449629,-1.015505,-0.461050,0.477289,0.118113,-0.181893,-0.167497,-0.611564,-1.027146,-0.966735,...,-0.342359,0.798184,-0.900854,0.374033,-0.234763,-0.765448,-0.288592,-0.057488,0.414426,1.101285
1,0.619445,0.984732,-0.479802,-1.029704,7.320752,-0.689300,0.101398,5.549811,0.763815,0.881746,...,6.000243,-0.610018,0.523636,-0.993967,-0.141070,-0.250739,-0.223789,-1.237589,-1.268321,-0.831933
2,-0.418285,-1.015505,-0.487120,-0.932292,0.021490,-0.743116,0.070457,0.539686,1.098237,0.792400,...,-0.146944,1.930129,-0.041080,2.243080,-0.209432,0.107603,-0.208397,-1.070318,-1.257036,-0.815521
3,-0.418285,-1.015505,-0.241516,-0.581971,-0.875427,-0.246691,-0.323678,-0.433776,0.488228,0.010121,...,-0.230865,-0.206508,0.614498,-0.898332,-0.045650,-0.063191,-0.199279,-0.533168,0.276890,-0.459703
4,2.072267,0.984732,-0.496724,-0.639336,-0.388109,-0.466897,-0.373405,-0.480409,-0.324411,0.262939,...,-0.386717,2.312452,0.348750,-0.715378,-0.232051,-0.357776,-0.247416,-0.778212,-0.548026,-0.640193

In [28]:
#相互情報量、ランダムフォレスト、GBDTで、上位n位までの表示を指定
n = 50

In [29]:
#ランダムフォレスト

from sklearn.ensemble import RandomForestClassifier

X = df1
y = df["SampleGroup"]

clf = RandomForestClassifier(n_estimators=10 , random_state=71)
clf.fit(X,y)
fi = clf.feature_importances_

import numpy as np

idx1 = np.argsort(fi)[::-1]
top_cols_rf = X.columns.values[idx1][:n]
top_importance = fi[idx1][:n]
#top_cols = X.columns.values[idx][30:41]
print(top_cols_rf)
#print(top_importance)

['seq.4278.14' 'seq.3585.54' 'seq.25461.3' 'seq.22578.17' 'seq.21940.12'
 'seq.22808.59' 'seq.5412.53' 'seq.10927.65' 'seq.24267.24' 'seq.7989.5'
 'seq.4152.58' 'seq.4880.21' 'seq.22953.85' 'seq.22525.9' 'seq.6226.69'
 'seq.5487.7' 'seq.19142.39' 'seq.23017.17' 'seq.21236.12' 'seq.24443.8'
 'seq.5837.49' 'seq.3435.53' 'seq.4874.3' 'seq.14002.18' 'seq.21827.7'
 'seq.6896.3' 'seq.12774.12' 'seq.12880.1' 'seq.15603.20' 'seq.4910.21'
 'seq.9327.3' 'seq.11318.20' 'seq.23695.1' 'seq.10551.7' 'seq.5096.51'
 'seq.3470.1' 'seq.10917.40' 'seq.18882.7' 'seq.24948.79' 'seq.2943.5'
 'seq.14102.6' 'seq.19366.8' 'seq.6442.6' 'seq.16916.19' 'seq.18162.167'
 'seq.11319.106' 'seq.2771.35' 'seq.19260.4' 'seq.21837.3' 'seq.23024.25']

In [30]:
#相互情報量

from sklearn.feature_selection import mutual_info_classif

X = df1
y = df["SampleGroup"]

mi = mutual_info_classif(X,y)

import numpy as np

idx = np.argsort(mi)[::-1]
top_cols_mi = X.columns.values[idx][:n]
#top_cols = X.columns.values[idx][30:41]
print(top_cols_mi)

['seq.21708.149' 'seq.7145.1' 'seq.6442.6' 'seq.10762.2' 'seq.22023.3'
 'seq.12656.1' 'seq.5852.6' 'seq.12406.119' 'seq.21365.5' 'seq.13242.134'
 'seq.2178.55' 'seq.4891.50' 'seq.3005.5' 'seq.13631.1' 'seq.4989.7'
 'seq.8321.27' 'seq.19587.12' 'seq.23680.1' 'seq.3727.35' 'seq.5759.10'
 'seq.17156.72' 'seq.7813.6' 'seq.23378.29' 'seq.23294.19' 'seq.9259.35'
 'seq.8427.118' 'seq.23703.8' 'seq.20159.1' 'seq.16587.1' 'seq.22862.44'
 'seq.5628.21' 'seq.23322.2' 'seq.7857.22' 'seq.14756.29' 'seq.18332.17'
 'seq.3714.49' 'seq.4138.25' 'seq.11486.26' 'seq.12781.2' 'seq.22990.20'
 'seq.3415.61' 'seq.23704.11' 'seq.14023.84' 'seq.17419.17' 'seq.22858.3'
 'seq.2654.19' 'seq.18282.1' 'seq.8620.56' 'seq.11444.49' 'seq.22481.15']

In [31]:
#XGBoost

import xgboost as xgb

X = df1
y = df["SampleGroup"]

dtrain = xgb.DMatrix(X, label = y)
params ={ 'objective' : 'binary:logistic', 'silent' : 1, 'random_state' : 71 }
#num_round = n
model = xgb.train(params, dtrain, n)

fscore = model.get_score(importance_type = 'total_gain')
print(fscore)
fscore = sorted([(k,v) for k,v in fscore.items()], key = lambda tpl: tpl[1], reverse = True)

res = fscore[:n]

#print(res)

data = res

top_cols_xgb = [item[0] for item in data if item[0].startswith('seq')]

print(top_cols_xgb)
print(len(res))

{'seq.4891.50': 53.408574825, 'seq.7993.23': 9.4858284, 'seq.10087.10': 2.75511742, 'seq.12618.50': 10.0714283, 'seq.12630.8': 6.40037441, 'seq.11334.7': 5.42400694, 'seq.11444.49': 15.246537982999998, 'seq.12340.17': 5.52298641, 'seq.15471.29': 5.697097834, 'seq.5614.44': 3.79815435, 'seq.11405.150': 3.16851497, 'seq.7975.97': 3.70400476, 'seq.18332.17': 3.64575243, 'seq.15481.45': 0.757593393, 'seq.7089.42': 2.8247633, 'seq.17671.58': 0.998594761, 'seq.3727.35': 3.5487659529999998, 'seq.21508.7': 2.72648764, 'seq.10613.33': 0.235550642, 'seq.16292.288': 2.950082244, 'seq.13114.50': 1.11459148, 'seq.9227.15': 1.24975348, 'seq.23378.29': 2.99199784, 'seq.22782.80': 1.77822518, 'seq.11184.51': 1.55963457, 'seq.5852.6': 1.2409811, 'seq.9989.12': 0.777328253, 'seq.20538.71': 0.247232676, 'seq.13565.2': 0.909278512, 'seq.24914.10': 0.956315637, 'seq.18943.4': 0.632786214, 'seq.4769.10': 1.240405977, 'seq.8318.13': 0.239249617, 'seq.7108.7': 0.503593981, 'seq.10082.251': 0.483119309, 'seq.25941.4': 0.477290958, 'seq.5364.7': 0.444534183, 'seq.9456.34': 0.408931196, 'seq.8973.23': 0.334324419, 'seq.9355.26': 0.296948016, 'seq.13119.26': 0.276467949, 'seq.6605.17': 0.270507604}
['seq.4891.50', 'seq.11444.49', 'seq.12618.50', 'seq.7993.23', 'seq.12630.8', 'seq.15471.29', 'seq.12340.17', 'seq.11334.7', 'seq.5614.44', 'seq.7975.97', 'seq.18332.17', 'seq.3727.35', 'seq.11405.150', 'seq.23378.29', 'seq.16292.288', 'seq.7089.42', 'seq.10087.10', 'seq.21508.7', 'seq.22782.80', 'seq.11184.51', 'seq.9227.15', 'seq.5852.6', 'seq.4769.10', 'seq.13114.50', 'seq.17671.58', 'seq.24914.10', 'seq.13565.2', 'seq.9989.12', 'seq.15481.45', 'seq.18943.4', 'seq.7108.7', 'seq.10082.251', 'seq.25941.4', 'seq.5364.7', 'seq.9456.34', 'seq.8973.23', 'seq.9355.26', 'seq.13119.26', 'seq.6605.17', 'seq.20538.71', 'seq.8318.13', 'seq.10613.33']
42

In [32]:
mi_rf_xgb = set(top_cols_mi) & set(top_cols_rf) &set(top_cols_xgb)
mi_rf = set(top_cols_mi) & set(top_cols_rf)
rf_xgb = set(top_cols_rf) & set(top_cols_xgb)
mi_xgb = set(top_cols_mi) & set(top_cols_xgb)

print("mi,rf,xgbの各上位50位の全てに共通のseq.", mi_rf_xgb)
print("mi,rfの各上位50位で共通のseq." , mi_rf)
print("rf,xgbの各上位50位で共通のseq.", rf_xgb)
print("mi,xgbの各上位50位で共通のseq.", mi_xgb)

mi,rf,xgbの各上位50位の全てに共通のseq. set()
mi,rfの各上位50位で共通のseq. {'seq.6442.6'}
rf,xgbの各上位50位で共通のseq. set()
mi,xgbの各上位50位で共通のseq. {'seq.4891.50', 'seq.5852.6', 'seq.11444.49', 'seq.18332.17', 'seq.3727.35', 'seq.23378.29'}